@import "./variables";
@import "./fonts";
@import "./mixin";
@import "./sizing";
//@import "./sidebar";

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .title-font {
  font-family: 'Vollkorn SC', serif;
  font-weight: 700;
}

a {
  color: inherit;
  &:hover{
	  text-decoration: underline;
	  color: $linkSecondary;
  }
}

//navigazione

.navbar-brand img{
  height: 32px;
  fill: #fff;
}

#primarynav a.nav-link:hover{ color: white;}

i.logo{
  position: relative;
    top: 16px;
    left: 45px;
    font-size: 60px;
}

form {
	a {
		color: $linkSecondary;
		&:hover{
			color: $linkSecondary;
			text-decoration: underline;
		}
	}
}

.icon{
  display: inline-block;}


/*
  Stile pagina
*/
.bg_primary, .bg-dark {
  background-color: $primary;
  color: white !important;
}

//poi eliminare
.placeholder-ico{
  font-size: 5em;
  margin: 0.2em auto;
}

main{
  padding-top: 3.5rem;
  min-height: 75vh;
}

section {
  padding: 2% 0;
}


.page-title {
  @include parallax-bg-gradient("firearm.jpg",rgba(52, 58, 64, 0.78), rgba(51, 52, 54, 0.29));
  border-bottom: 1px solid $gray-400;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  height: 30vh;
  min-height: 7rem;

  color: $white;
  h1 {
    font-family: 'Vollkorn SC', serif;
    font-weight: 700;
    font-size: 3rem;
  }
}

.pt-dark{
  background-color: $gray-700;
  color: #fff;
}
.titolo_sezione {
  padding: 1rem;
  
  h1 {
    line-height: 4rem;
    border-radius: 50%;
    background-color: $primary;
    margin: 1rem 2rem;
  }
}
#localita {
  //min-height: 75vh;
  .page-title {
    @include parallax-bg-gradient("world-connection.jpg",rgba(52, 58, 64, 0.78), rgba(51, 52, 54, 0.29));
  }
}
#coverage {
  //min-height: 75vh;
  .page-title {
    @include parallax-bg-gradient("world-connection.jpg",rgba(52, 58, 64, 0.78), rgba(51, 52, 54, 0.29));
  }
}
#modalita {
  //min-height: 75vh;
  .page-title {
    @include parallax-bg-gradient("assassins-creed.jpg",rgba(52, 58, 64, 0.78), rgba(51, 52, 54, 0.29));
  }
}

/*
  Navigazione
*/
.dropdown-item {
  padding: .25rem 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: $white;

    &:hover{
      color: $linkSecondary;
      text-decoration: underline;
    }
}
/*
HOME PAGE STYLE
*/
#home {
  padding-top: 3.5rem;
  
  h2{
		font-size: 2.2em;
		margin-bottom: 2rem;
	}
  section {
    padding: 6rem 0;
  }
	
/*
Introduzione
*/
  #introduzione {
    padding: 2rem 0 2rem;
    min-height: 70vh;
	  .rilievo{
      font-size: 1.6rem;
      font-weight: 400;
		  //text-shadow: 0 0 10px black;
	  }
  }
  /*    
  Categorie
  */
  #categorie{
    text-align: center;
    padding: 2% 0;
    border-bottom: 1px solid $gray-400;

    i{
      font-size: 2em;
      padding-bottom: 1rem;
    }
    a{
      text-decoration: none;
      color: white;
      &:hover i{
        text-shadow: 0 0 20px white;
        color: $primary;
      }
    }
  }

  /*
    Come funziona
  */
  #come-funziona{
    text-align: center;
    background-color: $gray-100;
    border-bottom: 1px solid $gray-200;

    i { 
      font-size: 4rem;
      margin: 2rem auto;
    }
    .subtitle{
      padding: 0.5rem 1.2rem;
    }
  }
  .badge-step{
    display: block;
    border-radius: 50%;
    font-size: 1em;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    margin: 0rem auto 1rem;
  }
  /*
    Review
  */
  #review {
    border-bottom: 1px solid $gray-400;
  .ico{font-size: 3rem;}
  .placeholder{width: 40%; max-width: 90px; margin: 0 auto;}
  //card
  i.card-img-top{
    font-size: 5rem;
  margin: 1rem auto;}
  .card-body{padding: 0.9rem;}
  .card-text{font-size: 1rem;
  font-style: italic;}

  //blockquote
  blockquote{font-size: 0.8rem;}
  .blockquote-footer {font-size: 90%;}

  .point {
    color: $secondary;
    .point-negative{
      opacity: 0.3;
    }
    .point-positive{
      opacity: 1;
    }
    .fas{font-size: 1rem; padding-right: 4px; color:$secondary;}
    img{height: 1rem; fill: red;}
  }
  
  
  }
}

/* 
  Personalizzazione di Swiper
*/
.swiper-container {
  width: 100%;
  padding: 30px;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  // -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}
.swiper-pagination, .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 0;}
.swiper-pagination-bullet{width: $bulletDimention;height: $bulletDimention; background-color: $secondary}
.swiper-button-next, .swiper-button-prev {
  &:after{
      font-size: 2rem;
    }
}
.swiper-button-prev{left: 0; color: $secondary}
.swiper-button-next{right: 0; color: $secondary}

#about{
	.about-step{
		margin: 6rem auto;
	}
	.separatore{border-color: $primary; }
}

#contatti{
	letter-spacing: 2px;
  padding: $paddingSession;
  padding-bottom: 0;
	a{
		  color: #fff;
		  text-decoration: none;
	}
	.maps iframe{
     width: 100%;
     height: 100%;
   }
}

#author a{
  color: #fff;
  text-decoration: none;   
}

/*
  Footer
*/
footer{
  color: white;
  a{
    color: $gray-200;
    &:hover {
      color:inherit;
      text-decoration: underline;
    }
  }
  .widget{
    padding-top: 7%;
    padding-bottom: 3%;
  }
  .logo-footer{
    height: 28px;
  }
}

#copy{
  font-size: 0.9em;
}

/*
PAGINA DI REGISTRAZIONE
*/
#signin, #signup, #forgot {
  padding: 3rem auto !important; 
}

// DOCUMENTAZIONE
#docs{
  padding: $paddingMain;
  main{
    padding-top: 0;
  }
}
.sidebar{
  padding: 0;
  position: sticky;

  .navbar-toggler {
    color: $primary;//rgba(0,0,0,.5);
    border: none;
  }
  
  .sidebar-heading {
    text-transform: uppercase;
  }
}

#killer{
  margin-bottom: 3rem;
}
// CARTE KILLER
#deck{
  font-size: 14px;

  .card-deck {
    margin-bottom: 3rem;

    .card {
    //flex: 0 0 30%;
    margin-bottom: 15px;
    max-width: 450px;
    }

    @media  (min-width: 576px) {
      .card {
        flex: 1 0 30%;
      }
    }
  }
/*   .card-footer {
    background-color: rgba(165, 32, 32, 0.13);
  } */
}

/* .toggler-password{
  position: relative;
  float: right;
  margin-right: 20px;
  margin-left: -20px;
  margin-top: -24px;
  z-index: 2;
} */