// =========================================================
//  KP Dashboard - v1
// =========================================================
//
//  Coded by KillerPro team
//
// =========================================================
//

@import "./variables";
@import "lbd/mixins";

@import "./typography";

// Core CSS
@import "lbd/misc";
@import "./sidebar-and-main-panel";
@import "lbd/buttons";
@import "lbd/inputs";

@import "lbd/alerts";
@import "lbd/tables";

@import "lbd/checkbox-radio-switch";
@import "lbd/navbars";
@import "lbd/footers";

// Fancy Stuff
@import "lbd/plugins/animate";
@import "lbd/dropdown";
@import "lbd/cards";
@import "lbd/chartist";
@import "lbd/responsive";
@import "lbd/bootstrap-switch";

// Nucleo Icons
@import "lbd/partial-nucleo-icons";

.toggler-password{
  position: relative;
  float: right;
  margin-right: 20px;
  margin-left: -20px;
  margin-top: -24px;
  z-index: 2;
}